<div class="container my-1">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary mb-0">Müşteri Listesi</h1>

    <div class="d-flex align-items-center search-container">
      <input 
        type="text" 
        [(ngModel)]="searchTerm" 
        placeholder="TCKN ile ara.." 
        class="form-control search-input me-2"
      />
      <button (click)="searchCustomer()" class="btn btn-primary search-button">Ara</button>
    </div>
  </div>

  <!-- Müşteri Tablosu -->
  <table class="table table-sm table-striped table-hover table-bordered mb-0">
    <thead class="table-dark">
      <tr>
        <th>Kimlik Numarası</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Şehir</th>
        <th>İlçe</th>
        <th>Teklifler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.identificationNumber}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.surname}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.district}}</td>
        <td>
          <button (click)="viewOffers(customer)" class="btn btn-secondary btn-sm">Teklifler</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Teklifler - {{selectedCustomer?.name}} {{selectedCustomer?.surname}}</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <table class="table table-sm table-striped table-hover table-bordered mb-0">
            <thead class="table-dark">
              <tr>
                <th>Numara</th>
                <th>Şube Kodu</th>
                <th>Tutar</th>
                <th>Başlangıç</th>
                <th>Bitiş</th>
                <th>Durum</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let policy of selectedCustomerPolicies">
                <tr *ngIf="isMyPolicy(policy)">
                  <td>{{policy.policyNumber}}</td>
                  <td>{{policy.branchCode}}</td>
                  <td>{{policy.amount | currency:'TRY'}}</td>
                  <td>{{policy.startDate | date:'shortDate'}}</td>
                  <td>{{policy.endDate | date:'shortDate'}}</td>
                  <td>
                    <button class="btn btn-success btn-sm">Poliçeleştir</button>
                  </td>
                </tr>
                <tr *ngIf="!isMyPolicy(policy)">
                  <td>{{policy.policyNumber}}</td>
                  <td>{{policy.branchCode}}</td>
                  <td>{{policy.amount | currency:'TRY'}}</td>
                  <td>{{policy.startDate | date:'shortDate'}}</td>
                  <td>{{policy.endDate | date:'shortDate'}}</td>
                  <td>Başka Teklif</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" (click)="closeModal()">Kapat</button>
        </div>
      </div>
    </div>
  </div>
</div>
