<div class="container my-3">
  <!-- Title -->
  <h2 class="text-primary text-center mb-3">Poliçe Listesi</h2>

  <!-- Search, Filter, and Sort -->
  <div class="d-flex flex-column align-items-center mb-3">
    <div class="d-flex justify-content-center align-items-center mb-3 w-100">
      <!-- Search -->
      <div class="d-flex align-items-center me-2">
        <input 
          type="text" 
          class="form-control me-2" 
          placeholder="Policy Number ile ara..." 
          [(ngModel)]="searchText"
        />
        <button (click)="searchPolicies()" class="btn btn-success btn-sm">Ara</button>
      </div>

      <!-- Filters and Sorting -->
      <div class="d-flex align-items-center">
        <div class="btn-group btn-group-sm me-2" role="group" aria-label="Status Filter">
          <input 
            type="radio" 
            id="statusAll" 
            value="H" 
            [(ngModel)]="statusFilter"
            (change)="onStatusChange('H')"
            class="btn-check"
            checked
          />
          <label class="btn btn-outline-info" for="statusAll">Hepsi</label>

          <input 
            type="radio" 
            id="statusT" 
            value="T" 
            [(ngModel)]="statusFilter"
            (change)="onStatusChange('T')"
            class="btn-check"
          />
          <label class="btn btn-outline-info" for="statusT">Teklif</label>

          <input 
            type="radio" 
            id="statusK" 
            value="K" 
            [(ngModel)]="statusFilter"
            (change)="onStatusChange('K')"
            class="btn-check"
          />
          <label class="btn btn-outline-info" for="statusK">Poliçe</label>
        </div>

        <div class="d-flex align-items-center">
          <label for="sortOption" class="form-label me-2 mb-0 text-secondary">Sıralama:</label>
          <select class="form-select form-select-sm" id="sortOption" [(ngModel)]="sortOption" (change)="onSortChange($event)">
            <option value="recent">Son Poliçeler</option>
            <option value="amountAsc">Fiyata Göre Artan</option>
            <option value="amountDesc">Fiyata Göre Azalan</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table table-sm table-striped table-bordered">
    <thead class="bg-primary text-white">
      <tr>
        <th>Policy Number</th>
        <th>Branch Code</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Customer</th>
        <th>Müşteri</th>
        <th>Policy Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="searchedPolicy; else defaultPolicyList">
        <td>{{searchedPolicy.policyNumber}}</td>
        <td>{{searchedPolicy.branchCode}}</td>
        <td>{{searchedPolicy.amount | currency}}</td>
        <td>{{searchedPolicy.startDate | date:'shortDate'}}</td>
        <td>{{searchedPolicy.endDate | date:'shortDate'}}</td>
        <td>{{searchedPolicy.customerDetailDto.name}} {{searchedPolicy.customerDetailDto.surname}}</td>
        <td>
          <button (click)="showDetails(searchedPolicy)" class="btn btn-info btn-sm">Detay</button>
        </td>
        <td>
          <button 
            (click)="openPolicyDetailsModal(searchedPolicy)" 
            [ngClass]="{
              'btn-secondary': searchedPolicy.status === 'K',
              'btn-primary': searchedPolicy.status === 'T',
              'btn-disabled': searchedPolicy.status === 'K'
            }"
            [attr.disabled]="searchedPolicy.status === 'K' ? true : null"
            class="btn btn-sm"
          >
            {{ searchedPolicy.status === 'K' ? 'Poliçelendı' : 'Policy Details' }}
          </button>
        </td>
      </tr>
      <ng-template #defaultPolicyList>
        <tr *ngFor="let policy of policies">
          <td>{{policy.policyNumber}}</td>
          <td>{{policy.branchCode}}</td>
          <td>{{ policy.amount | currency:'TRY':'symbol':'1.0-2' }}</td>
          <td>{{policy.startDate | date:'shortDate'}}</td>
          <td>{{policy.endDate | date:'shortDate'}}</td>
          <td>{{policy.customerDetailDto.name}} {{policy.customerDetailDto.surname}}</td>
          <td>
            <button (click)="showDetails(policy)" class="btn btn-info btn-sm">Detay</button>
          </td>
          <td>
            <button 
              (click)="openPolicyDetailsModal(policy)" 
              [ngClass]="{
                'btn-secondary': policy.status === 'K',
                'btn-primary': policy.status === 'T',
                'btn-disabled': policy.status === 'K'
              }"
              [attr.disabled]="policy.status === 'K' ? true : null"
              class="btn btn-sm"
            >
              {{ policy.status === 'K' ? 'Poliçelendi' : 'Poliçelendir' }}
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>



  <!-- Modal for Policy Details -->
  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal-content">
      <h4>Policy Details</h4>
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" id="cardNumber" [(ngModel)]="cardNumber" class="form-control" />
      </div>
      <div class="form-group">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" [(ngModel)]="cvv" class="form-control" />
      </div>
      <div class="form-group">
        <label for="expiryDate">Expiry Date</label>
        <input type="text" id="expiryDate" [(ngModel)]="expiryDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="cardHolder">Card Holder</label>
        <input type="text" id="cardHolder" [(ngModel)]="cardHolder" class="form-control" />
      </div>
      <div class="modal-footer">
        <button (click)="submitPolicyDetails()" class="btn btn-primary">Gönder</button>
        <button (click)="closeModal()" class="btn btn-secondary">Kapat</button>
      </div>
    </div>
  </div>
</div>
