<div class="container my-3">
  <h4 class="mb-3">İstatistikler</h4>

  <div class="mb-3">
    <h5>Satış/Teklif Oranı</h5>
    <p>{{ statusKRatio | number:'1.2-2' }}%</p>
  </div>

  <div>
    <h5>En Pahalı 3 Satış</h5>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>Numara</th>
          <th>Tutar</th>
          <th>Başlangıç</th>
          <th>Bitiş</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of top3ExpensivePolicies">
          <td>{{ policy.policyNumber }}</td>
          <td>{{ policy.amount }}</td>
          <td>{{ policy.startDate | date:'shortDate' }}</td>
          <td>{{ policy.endDate | date:'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
